/* Reset default margin and padding */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: center;
  width: 100%;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}



.why-choose-us {
  background-color: #e3e3e354;
  padding: 50px;
  text-align: center;
  width: 100%;
}

.why-choose-us h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.why-choose-us ul {
  list-style-type: none;
  padding: 0;
}

.why-choose-us li {
  font-size: 18px;
  margin-bottom: 10px;
}

.how-it-works {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: center;
  width: 100%;
}

.how-it-works h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.how-it-works p {
  font-size: 18px;
  margin-bottom: 10px;
}
.navbar{
  width: 100%;
  height: 5rem;
}
.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #1875FF;
  color: white;
  /* font-family: inherit; */
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #1875FF;
  width: 10em;
  font-weight: 500;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
 }
 
 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }
 
 .button span:after {
  content: 'NOW';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
 }
 
 .button:hover span {
  padding-right: 3.55em;
 }
 
 .button:hover span:after {
  opacity: 4;
  right: 0;
 }
 .button:hover{
  background-color: #f2f2f2;
  color: #1875FF;
  border: #1875FF 1px solid;
 }
 .footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  max-width: 300px;
  margin-bottom: 20px;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 14px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #555;
  margin-top: 20px;
  font-size: 12px;
}
